@import url(./global.css);

html {
    scroll-behavior: smooth;
}

header {
    background-image: url(../img/header/Gemini_Generated_Image_qd40czqd40czqd40.jfif);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr auto;
    padding: 30px 20px 0px 20px;

}


h1 {
    color: var(--cor-texto);
    font-size: clamp(2rem, 3rem, 4rem);

}

nav {

    .menu {
        display: none;
    }

    ul {
        display: flex;
        align-items: center;
        gap: 25px;
        list-style: none;

        li {

            a {
                text-decoration: none;
                color: var(--cor-texto);
                font-weight: 500;
                font-size: clamp(1rem, 1.2vw, 1.25rem);
                transition: .7s;
                text-shadow: 1px 4px 6px var(--cor-fundo);
            }

            a:hover {
                color: var(--cor-texto-terciario)
            }

            .cardapio {
                position: relative;

                &:hover{
                    color: var(--cor-texto);
                }
                &::before{
                    position: absolute;
                    content: "";
                    background-color: var(--cor-destaque);
                    bottom: -1px;
                    width: 0%;
                    height: 2px;
                    transition: 1s;
                }

                &:hover::before{
width: 100%;

                }
            }

        }
    }
}


.contato {
    background-color: var(--cor-verde);
    padding: 10px;
    border-radius: 10px;
    color: var(--cor-destaque);
    font-weight: 600;
    text-shadow: none;

    &:hover {
        color: var(--cor-texto);
    }
}



.infor-header {
    display: flex;
    flex-direction: column;
    color: azure;
    gap: 30px;


}

.infor-header .frase {

    display: flex;
    flex-direction: column;
    color: #F2E9DC;
    font-size: clamp(3rem, 5vw, 5rem);
    font-weight: 400;




}

.exploreEndHours {
    display: flex;
}

.exploreEndHours button {
    border: none;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--cor-texto);
    color: var(--cor-fundo);
    font-weight: 500;
    font-size: 1.1rem;
}

.infor-header a {
    text-decoration: none;
    color: var(--cor-texto);
    font-size: 1.1rem;








}

.Horario-de-fucionamento {
    padding: .5rem;
    border-radius: 8px;
    background: var(--cor-fundo-secundario);
    max-width: 150px;
    text-align: center;
    font-size: 1rem;
    margin-left: 100px;


}

main {
    background-color: var(--cor-fundo);
    min-height: 100vh
}

.exploreMenu {
    min-height: 100vh;

    .text-destaques {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
        text-align: center;



        h2 {
            margin: 40px 0;
            color: var(--cor-texto);
            font-size: clamp(2rem, 4vw, 3.2rem);
            font-weight: 600;
        }


    }

    .cards {


        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        padding: 10px;

        .card {
           
            border-radius: 20px;
            position: relative;
            width: 250px;
            max-width: 100%;
            height: 400px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            display: flex;
            flex-direction: column;
           
            align-items: center;
           

           &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: var(--cor-overlay);
}
.nota{
    position: absolute;
    bottom: 60px;
display: flex;
    flex-direction: column;
   align-items: center;

   .lucide{
   
Color: var(--cor-texto);
   }
   h3{
    color: var(--cor-texto);
   }
   a{
    text-decoration: none;
    color: var(--cor-texto);
   }

}



            h3 {

                font-size: 1.7rem;

            }




        }

    }
}

.sobre {

    background-color: var(--cor-fundo);
    min-height: 100vh;
    padding: 20px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;




    .descricao {
        background-color: var(--cor-texto);

        padding: 20px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;


        h2 {
            text-align: center;
            color: var(--cor-marrom-claro);
            font-size: 3rem;
            font-weight: 700;
        }

        p {
            color: var(--cor-fundo);
            max-width: 700px;
            font-size: 1.2rem;

            span {
                color: var(--cor-marrom);
            }
        }


        button {
            width: 100px;
            background-color: var(--cor-sucesso);
            border: none;
            padding: 5px;
            border-radius: 5px;
            margin: 10px;
            color: var(--cor-texto);
            font-size: 1rem;
            font-weight: 600;
        }
    }
}

.xicaraImg {
    transition: transform 0.3s ease-out;
}



footer {
    background-color: var(--cor-fundo);


    display: flex;
    flex-direction: column;




}

.agendamento {
    min-height: 100vh;
    padding: 0 30px 0 30px;
    display: flex;

    flex-direction: column;
    gap: 30px;

    h2 {
        font-size: 2.6rem;
        text-align: center;
        color: var(--cor-texto);
        margin-top: 20px;
    }

}



.divContainer {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    .mensagem {
        display: flex;
        flex-direction: column;

        .frase {
            display: flex;
            flex-direction: column;
            gap: 10px;


            h3 {
                color: var(--cor-texto);
                font-size: 2rem;
            }

            p {
                font-size: 1.4rem;
                color: var(--cor-texto);


            }
        }

        img {
            position: relative;
            left: 0;
            bottom: -10px;


        }
    }
}

.fomulario {

    display: flex;
    gap: 20px;
    flex-direction: column;


}

label {
    font-size: 1.4rem;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

form {

    display: flex;
    gap: 15px;
    flex-direction: column;

    justify-content: flex-start;
    color: var(--cor-texto);




    input {
        background-color: transparent;
        border: 2px solid #4a3b32;


        border-radius: 13px;
        padding: 10px;
        max-width: 100%;
        width: 400px;
        color: var(--cor-texto);

        &::placeholder {
            padding: 5px;
            font-size: 1.1rem;
            color: var(--cor-texto);
        }

        &:hover {
            border: 2px solid #8c634b;
            box-shadow: 0 0 10px rgb(200, 106, 55, 0.25);
        }
    }



}

.enviar {
    text-align: center;
    background-color: var(--cor-destaque);
    border: 2px solid var(--cor-marrom-claro);
    border-radius: 13px;
    padding: 5px;
    color: var(--cor-texto-secundario);
    font-weight: 700;
    font-size: 1.2rem;
}

.mais-Detalhes {
    background-color: #111;
    padding: 35px 50px 20px;
    margin-top: 20px;

    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 35px;

    color: var(--cor-texto);

    .detalhes {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 40px;
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
    }
}


/* Títulos das colunas */
.navegacao,
.informacao,
.fucionamento {

    display: flex;
    flex-direction: column;
    gap: 15px;

    h3 {
        margin: 0;
        color: var(--cor-marrom-claro);
        font-size: 1.3rem;
        font-weight: 700;
    }

    ul {
        list-style: none;

        display: flex;
        flex-direction: column;
        gap: 10px;

        padding: 0;
        margin: 0;

        li {

            a {
                color: var(--cor-texto);
                text-decoration: none;
                font-size: 1rem;
                transition: .3s;
            }
        }
    }
}


/* Efeito nos links */
.navegacao a:hover {
    color: var(--cor-destaque);
    padding-left: 5px;
}


/* Redes sociais */
.redes {
    display: flex;
    justify-content: center;
    align-items: center;
}

.redes ul {
    list-style: none;

    display: flex;
    align-items: center;
    gap: 18px;

    padding: 0;
    margin: 0;
}

.redes a {
    width: 42px;
    height: 42px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid #ffffff30;
    border-radius: 50%;

    color: var(--cor-texto);
    text-decoration: none;

    font-size: 1.2rem;

    transition: .3s;
}

.redes a:hover {
    color: var(--cor-destaque);
    border-color: var(--cor-destaque);
    transform: translateY(-4px);
}


/* Copyright */
.copyright {
    position: relative;

    text-align: center;

    padding-top: 20px;

    color: #aaa;
    font-size: .9rem;
}

.copyright::before {
    content: "";

    display: block;

    width: 100%;
    height: 1px;

    background-color: #ffffff20;

    margin-bottom: 15px;
}

@media (max-width: 768px) {




    header {
        background-position: right;

        grid-template-columns: 1fr auto;
        min-height: 100vh;
        padding: 20px;
    }

    header h1 {
        font-size: 2rem;
    }

    nav {
        display: flex;
        align-items: center;
    }

    /* Ícone do menu */
    .menu {
        display: block;
        position: relative;
        z-index: 20;

        color: var(--cor-texto);
        font-size: 1.8rem;
        cursor: pointer;
    }

    /* Menu fechado */
    nav ul {
        position: fixed;
        top: 0;
        right: 0;

        width: 70%;
        height: 100vh;

        margin: 0;
        padding: 0;
        transform: translateX(100%);
        background-color: var(--cor-fundo);

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        gap: 30px;

        list-style: none;

        transition: transform .4s ease;

        z-index: 10;
    }

    /* Menu aberto */
    /* nav ul.ativo {
        transform: translateX(0);
    } */

    nav ul li {
        width: 80%;
        text-align: center;
        padding: 12px;

        border-radius: 8px;

        transition: .3s ease;
    }

    /* Hover dos itens */
    nav ul li:hover {
        background-color: var(--cor-verde);
    }

    nav ul li a {
        display: block;
        width: 100%;

        color: var(--cor-texto);
        text-decoration: none;
    }


    nav ul li .contato {
        background: none;
        padding: 0;
    }

    /* Conteúdo do header */
    .infor-header {
        grid-column: 1 / -1;

        justify-content: center;
        gap: 25px;
    }

    .infor-header .frase {
        font-size: clamp(2.5rem, 10vw, 4rem);
    }

    .infor-header .frase span {
        font-size: clamp(3.5rem, 14vw, 5rem);
    }

    .infor-header a {
        margin-left: 0;
    }

    .Horario-de-fucionamento {
        margin-left: 0;
    }

    /* elemento do cards */
    .cards {
        gap: 20px;
    }

    /* conteudo do sobre  */

    .sobre {
        display: flex;
        flex-direction: column;
    }



    .sobre img,
    .divContainer img {
        width: 100%;
        max-width: 400px;
        height: auto;
    }

    .divContainer {
        display: flex;
        flex-direction: column;
    }

    .descricao,
    .fomulario {
        width: 100%;
    }

    form input {
        width: 100%;
    }

    .mais-Detalhes .detalhes {
        grid-template-columns: 1fr;
        gap: 25px;
    }

    .btnFooter ul {
        display: none;



    }

    .btnFooter ul.mostra {
        display: flex;
        flex-direction: column;
        gap: 10px;
        transition: 1s;
    }

}